<<<<<<< HEAD
/* ------------------------------Header------------------------------ */
.webp .header{
    background: url(../img/banner.webp);
}
.no-webp .header{
    background: url(../img/banner.jpg);
}
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

/* ---------------Barra--------------- */

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
    }
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

/* --------Barra de navegación-------- */
@media (min-width: 768px) {
    .navegacion{
        display: flex;
    }
    
    .navegacion__enlaces{
        padding: 1rem 2rem;
    }
    .navegacion__enlaces:last-of-type{
        margin-right: 0;
    }
}

.navegacion__enlaces{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin-top: 1.8rem;
    font-weight: 400;
    transition: background .2s ease, border .2s ease;
    transition-delay: 0s;
    border-bottom: 3px solid #a3a1a100;
    border-radius: .2rem;
}

.navegacion__enlaces:hover{
    background: #a3a1a162;
    border-bottom: 3px solid #a3a1a1;
}

/* ------------------Contenido principal------------------ */

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/* --------Articulos (entradas)-------- */

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 1rem;
}

.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label,
.curso__label{
    font-family: var(--fuente-heading);
    font-weight: 700;
}

.widget-curso__info,
.curso__info{
    font-weight: 400;
}

.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info{
    font-size: 2rem;
}

/* -------------------------Footer------------------------- */

.footer{
    background: var(--negro);
    margin-top: 4rem;
}


/* -----------------Página SOBRE NOSOTROS----------------- */

@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 2rem;
    }
}

.sobre-nosotros__texto p{
    margin-top: 0;
    line-height: 1,2;
}

/* ---------------------Página CURSOS--------------------- */

.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type{
    border: none;
}

/* --------------------página CONTACTO-------------------- */
.webp .contacto-bg{
    background: url(../img/contacto.webp);
}
.no-webp .contacto-bg{
    background: url(../img/contacto.webp);
}
.contacto-bg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

.formulario{
    background: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}


.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    height: 20rem;
    min-height: 20rem;
    max-height: 25rem;
}

.campo input:last-of-type{
margin: 0 auto;
    width: 50%;
    padding: 2.5rem 0;
=======
/* ------------------------------Header------------------------------ */
.webp .header{
    background: url(../img/banner.webp);
}
.no-webp .header{
    background: url(../img/banner.jpg);
}
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

/* ---------------Barra--------------- */

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
    }
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

/* --------Barra de navegación-------- */
@media (min-width: 768px) {
    .navegacion{
        display: flex;
    }
    
    .navegacion__enlaces{
        padding: 1rem 2rem;
    }
    .navegacion__enlaces:last-of-type{
        margin-right: 0;
    }
}

.navegacion__enlaces{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin-top: 1.8rem;
    font-weight: 400;
    transition: background .2s ease, border .2s ease;
    transition-delay: 0s;
    border-bottom: 3px solid #a3a1a100;
    border-radius: .2rem;
}

.navegacion__enlaces:hover{
    background: #a3a1a162;
    border-bottom: 3px solid #a3a1a1;
}

/* ------------------Contenido principal------------------ */

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/* --------Articulos (entradas)-------- */

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 1rem;
}

.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label,
.curso__label{
    font-family: var(--fuente-heading);
    font-weight: 700;
}

.widget-curso__info,
.curso__info{
    font-weight: 400;
}

.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info{
    font-size: 2rem;
}

/* -------------------------Footer------------------------- */

.footer{
    background: var(--negro);
    margin-top: 4rem;
}


/* -----------------Página SOBRE NOSOTROS----------------- */

@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 2rem;
    }
}

.sobre-nosotros__texto p{
    margin-top: 0;
    line-height: 1,2;
}

/* ---------------------Página CURSOS--------------------- */

.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type{
    border: none;
}

/* --------------------página CONTACTO-------------------- */
.webp .contacto-bg{
    background: url(../img/contacto.webp);
}
.no-webp .contacto-bg{
    background: url(../img/contacto.webp);
}
.contacto-bg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

.formulario{
    background: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}


.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    height: 20rem;
    min-height: 20rem;
    max-height: 25rem;
}

.campo input:last-of-type{
margin: 0 auto;
    width: 50%;
    padding: 2.5rem 0;
>>>>>>> 27e3bd288768e4e189584f58afde59f7122e199d
}